---
import GitHub from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";
---

<footer
  id="footer"
  class="py-4 pt-6 mt-16 pb-16 lg:pb-5 dark:bg-[#121212] rounded-sm border-t border-gray-200 dark:border-gray-700"
>
  <div class="flex justify-center items-center gap-4">
    <a
      href="https://github.com/JavierMNew"
      target="_blank"
      rel="noopener noreferrer"
      class="text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-50"
      ><GitHub />
    </a>
    <a
      href="https://www.linkedin.com/in/javiermprz/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-50"
      ><LinkedIn /></a
    >
  </div><div
    class="text-center text-gray-600 dark:text-gray-400 my-4 text-sm md:text-md"
  >
    Hecho por Javier Montero
  </div>
</footer>
