---
import At from "./icons/At.astro";
import GitHub from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import SocialPill from "./icons/SocialPill.astro";
import ArrowRight from "./icons/ArrowRight.astro";
---

<div>
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full size-16 object-cover md:size-24"
      src="/yo.jpg"
      alt="midudev photo"
    />
    <a
      rel="noopener"
      class="flex items-center transition md:justify-center cursor-default"
    >
      <div
        class="flex items-center justify-center gap-x-2 py-1 px-2 text-xs md:text-base bg-[#153521] border border-white/10 rounded-full text-[#f5f5f5]/80"
      >
        <span class="relative flex h-2 w-2">
          <span
            class="animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75"
          ></span>
          <span class="relative inline-flex rounded-full h-2 w-2 bg-green-500"
          ></span>
        </span>
        Disponible para trabajar
      </div>
    </a>
  </div>
  <h1 class="text-3xl md:text-4xl font-bold flex flex-row gap-x-4">
    <span class="text-[#f5f5f5]">Hola, soy </span>
    <span
      class="animate-text-gradient inline-flex bg-gradient-to-r from-gray-900 via-gray-600 to-gray-500 bg-[200%_auto] bg-clip-text text-transparent dark:from-[#f5f5f5] dark:via-slate-400 dark:to-neutral-400"
      >Javier Montero</span
    >
  </h1>
  <h2 class="text-lg md:text-xl max-w-[800px] text-[#f5f5f5] mt-6">
    <span>+1 año de experiencia.</span>
    <span
      class="animate-text-gradient inline-flex bg-gradient-to-r from-gray-900 via-gray-600 to-gray-500 bg-[200%_auto] bg-clip-text text-transparent dark:from-[#f5f5f5] dark:via-slate-400 dark:to-neutral-400"
    >
      Ingeniero de Software
    </span>
    <span>de Tabasco, México.</span>
    <span>Especializado en el desarrollo de aplicaciones web.</span>
  </h2>

  <nav class="flex gap-4 mt-8 flex-wrap">
    <a
      class="bg-white/5
    border border-gray-700 rounded-full
    flex justify-center items-center gap-x-2
    p-2
    text-xs md:text-base
    transition
    hover:scale-110 hover:bg-white/10 text-[#f5f5f5]"
      href="mailto:javiermp638@gmail.com"
      target="_blank"
    >
      <At />
    </a>

    <a
      class="bg-[#0B66C2] hover:bg-[#0E447B]
    border border-gray-700 rounded-full
    flex justify-center items-center gap-x-2
    p-2
    text-xs md:text-base
    transition
    hover:scale-110 text-[#f5f5f5]"
      href="https://www.linkedin.com/in/javiermprz/"
      target="_blank"
    >
      <LinkedIn />
    </a>
    <a
      class="bg-white/5
    border border-gray-700 rounded-full
    flex justify-center items-center gap-x-2
    p-2
    text-xs md:text-base
    transition
    hover:scale-110 hover:bg-white/10 text-[#f5f5f5]"
      href="https://github.com/JavierMNew"
      target="_blank"
    >
      <GitHub />
    </a>
    <a
      class="bg-white/5
     border border-gray-700 rounded-full
     flex justify-center items-center
     py-2 px-4
     text-xs md:text-base
     transition
     hover:scale-110 hover:bg-white/10
     group text-[#f5f5f5]"
      href="/Javier_Montero_Pérez CV.pdf"
      target="_blank"
    >
      Currículum
      <div
        class="w-0 translate-x-[100%] pl-0 opacity-0 transition-all duration-200 *:size-4 group-hover:w-5 group-hover:translate-x-0 group-hover:pl-2 group-hover:opacity-100"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-arrow-right"
          ><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg
        >
      </div>
    </a>
  </nav>
</div>
